.proposals1 {
    align-self: stretch;
    position: relative;
    line-height: 140%;
  }
  .content,
  .list,
  .proposals {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .list {
    align-items: flex-start;
  }
  .content,
  .proposals {
    flex: 1;
  }
  .proposals {
    border-radius: var(--br-xl);
    background: linear-gradient(
      126.97deg,
      rgba(6, 11, 40, 0.74),
      rgba(9, 14, 35, 0.71)
    );
    backdrop-filter: blur(120px);
    align-items: flex-start;
    padding: var(--padding-11xl) var(--padding-3xs);
    gap: var(--gap-3xs);
  }
  .content {
    align-items: center;
    padding: 0 var(--padding-31xl);
    gap: var(--gap-21xl);
  }
  .connect,
  .title {
    position: relative;
    line-height: 140%;
  }
  .connect {
    font-size: var(--font-size-sm);
    line-height: 150%;
    font-family: var(--font-helvetica);
    color: var(--secondary-primary-white);
    text-align: center;
  }
  .buttonconnect,
  .frametitle {
    display: flex;
    flex-direction: row;
  }
  .buttonconnect {
    cursor: pointer;
    border: 0;
    padding: var(--padding-10xs) var(--padding-3xs);
    background-color: var(--color-royalblue);
    border-radius: var(--br-xs);
    box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
    align-items: center;
    justify-content: center;
  }
  .buttonconnect:hover {
    background-color: var(--color-royalblue-100);
  }
  .frametitle {
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
  }
  .totalVotePower {
    position: relative;
    line-height: 100%;
    font-weight: 500;
  }
  .b {
    position: relative;
    font-size: var(--font-size-lg);
    line-height: 140%;
    color: var(--secondary-primary-white);
  }
  .data,
  .framevotepower {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .framevotepower {
    align-self: stretch;
    border-radius: var(--br-xl);
    background: linear-gradient(126.97deg, #060c29, rgba(4, 12, 48, 0.5));
    backdrop-filter: blur(120px);
    overflow: hidden;
    padding: var(--padding-xl) var(--padding-mini);
    gap: var(--gap-8xs);
  }
  .data {
    height: 11.44rem;
    gap: var(--gap-3xs);
  }
  .b1,
  .totalFunds {
    position: relative;
    line-height: 100%;
  }
  .totalFunds {
    font-weight: 800;
  }
  .b1 {
    font-size: 3.13rem;
    color: var(--secondary-primary-white);
  }
  .currentfunds {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.38rem;
  }
  .frameinfo,
  .mastercard,
  .nodecards {
    display: flex;
    justify-content: flex-start;
  }
  .frameinfo {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    font-size: var(--font-size-sm);
    color: var(--gray-gray-400);
  }
  .mastercard,
  .nodecards {
    flex-direction: column;
    box-sizing: border-box;
  }
  .mastercard {
    align-self: stretch;
    border-radius: var(--br-xl);
    background: linear-gradient(
      126.97deg,
      rgba(6, 11, 40, 0.74),
      rgba(14, 21, 58, 0.71)
    );
    backdrop-filter: blur(120px);
    border: 1px solid var(--color-gray-100);
    height: 17rem;
    align-items: flex-start;
    padding: var(--padding-8xl) var(--padding-12xl);
    gap: var(--gap-3xs);
  }
  .nodecards {
    width: 45.31rem;
    align-items: center;
    padding: 0 var(--padding-xl);
    gap: var(--gap-11xl);
  }
  .body,
  .mainDashboard {
    display: flex;
    gap: var(--gap-3xs);
  }
  .body {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .mainDashboard {
    position: relative;
    background: linear-gradient(159.02deg, #0f123b, #090c2e 58.69%, #020515);
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 var(--padding-11xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--secondary-primary-white);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 960px) {
    .content {
      flex: unset;
      align-self: stretch;
    }
    .body {
      flex-direction: column;
    }
  }
  