.label {
  position: relative;
  line-height: 140%;
}
.proposalTitle,
.rowleft,
.rowtop {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.proposalTitle {
  position: relative;
  line-height: 140%;
  color: var(--color-silver-100);
}
.rowleft,
.rowtop {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-lgi);
}
.rowleft {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.active,
.statusongoing,
.statuswaitingvotes {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.active {
  flex: 1;
  position: relative;
  line-height: 140%;
  align-items: center;
}
.statusongoing,
.statuswaitingvotes {
  border-radius: var(--br-11xl);
  background-color: var(--color-olivedrab);
  flex-direction: row;
  align-items: flex-start;
}
.statuswaitingvotes {
  background-color: var(--color-chocolate);
}
.statussuccess {
  background-color: var(--color-gold);
  color: var(--color-black);
}
.statusqueued,
.statussuccess,
.statusvoted,
.successfailed {
  align-self: stretch;
  border-radius: var(--br-11xl);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.statusqueued {
  background-color: var(--color-turquoise);
  color: var(--color-black);
}
.statusvoted,
.successfailed {
  background-color: var(--color-crimson-100);
}
.statusvoted {
  background-color: var(--color-darkgreen);
}
.progressChild,
.progressItem {
  position: relative;
  box-sizing: border-box;
  height: 0.19rem;
}
.progressChild {
  border-top: 3px solid var(--color-royalblue);
  width: 1.34rem;
}
.progressItem {
  align-self: stretch;
  border-top: 3px solid var(--color-gray-200);
}
.progress,
.rowstatus {
  display: flex;
  flex-direction: column;
}
.progress {
  align-self: stretch;
  height: 1.38rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  text-align: left;
  color: var(--color-silver-100);
}
.rowstatus {
  width: 7rem;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
}
.vote {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-family: var(--font-helvetica);
  color: var(--secondary-primary-white);
  text-align: center;
}
.buttonactivate,
.buttonvote {
  cursor: pointer;
  border: 0;
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonvote {
  padding: var(--padding-10xs) var(--padding-3xs);
  background-color: var(--color-royalblue);
  align-self: stretch;
  display: flex;
}
.buttonvote:hover {
  background-color: var(--color-royalblue-100);
}
.buttonactivate {
  padding: var(--padding-10xs) var(--padding-11xs);
  background-color: var(--color-red);
}
.buttonactivate:hover {
  background-color: var(--color-firebrick-100);
}
.buttonactivate,
.row,
.rowright {
  align-self: stretch;
  display: flex;
}
.rowright {
  width: 5.63rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.row {
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-300);
  border-top: 1px solid var(--color-silver-200);
  border-bottom: 1px solid var(--color-silver-200);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-lgi);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--secondary-primary-white);
  font-family: var(--font-inter);
}
